/* $Id: nrembrowser.widget.css,v 1.1.2.7 2010/09/22 20:22:02 jerseycheese Exp $ */

#nrembrowser-dialog {
  padding: 0;
  margin: 1em;
}

#nrembrowser-tabs-list {
  margin: 0;
  padding: 0;
}

#nrembrowser-tabs-list li {
  background:none;
  list-style:none outside none;
  margin:0;
  padding:0;
}

.nrembrowser-thumbnail {
  width: 120px;
  height: 120px;
}

.nrembrowser-element .widget-preview {
  border-right: 1px solid #CCCCCC;
  float: left;
  margin-right: 10px;
  max-width: 30%;
  padding-right: 10px;
}

#nrembrowser-add .nrembrowser-thumbnail {
  border: 3px solid gray;
  padding: 2px;
  margin:0 20px 20px 0;
  float: left;
  cursor: pointer;
}

#nrembrowser-add .nrembrowser-thumbnail:hover {
  border: 3px solid blue;
}

#nrembrowser-add .nrembrowser-thumbnail.selected {
  border: 3px solid black;
}

#nrembrowser-add #edit-submit {
  clear: left;
  display: block;
}

.styles .nrembrowser-thumbnail {
  width: auto;
  height: auto;
}

#nrembrowser-add-media-page-form label.option {
  margin: 0;
  padding: 0;
}

#nrembrowser-style-formatter-selector-preview-wrapper .nrembrowser-thumbnail {
  height: auto;
  width: auto;
}

/* Iframe styles */

body.page-nrembrowser {
  background: none;
  padding: 0 1em 0 0;
  font-size: .7em;
}

.page-nrembrowser .node-form .form-text {
	width: 99%;
}